
  .FlexPai {
    display: flex;
    align-items: center;
    margin: auto;
    max-width: 200px;
    max-height: 200px;
    margin: 50px;
}  


 /* .telefoneImg1{
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
    max-width: 10px;
    max-height:10px;

}

        

.telefoneImg2{

    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
    max-width: 10px;
    max-height:10px;

}
.telefoneImg3{

    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
    max-width: 10px;
    max-height:10px;
}
.telefoneImg4{

    display: flex; 
    align-items: center;
    margin: auto;
    flex-direction: column;
    max-width: 10px;
    max-height:10px;
} 
 .telefoneImg5{
    
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
    max-width: 10px;
    max-height:10px;

 
}   */

 .mainCard{
    display: flex;
    align-items: center;
    margin: auto;
    max-width: 200px;
    max-height: 200px;
    margin: 50px;
}; 
