
.flexpai{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px;
    font-family:  Georgia, Times, 'Times New Roman', serif;
     pointer-events: none;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px;
    font-family:  Georgia, Times, 'Times New Roman', serif;
    pointer-events: none;
}
.category{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px;
    font-family:  Georgia, Times, 'Times New Roman', serif;
}
.outhers{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px;
    font-family:  Georgia, Times, 'Times New Roman', serif;

}
 .contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px;
    font-family:  Georgia, Times, 'Times New Roman', serif;
} 
.Botão{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px;
  
}
.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px;
    font-family:  Georgia, Times, 'Times New Roman', serif;
}